<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 
    @author chen.kai
	mapper.xml 规范 ：
   1)namespace 等于mapper接口地址
   2)mapper.Java 接口中的方法和mapper.xml中的statement 的id一致
   3)mapper.java 接口中的方法的参数和mapper.xml中的statement 的paramterType类型一致
   4)mapper.java 接口中的方法的返回值和mapper.xml中的statement的resultType类型一致	
 --> 
<mapper namespace="com.cn.common.dao.EmailLogMapper"> 

  <!-- 获取各种接口的配置文件 -->
  <select id="queryAllEmailLog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  
	SELECT
		*
	FROM
		(
			SELECT
				email.sysid sysid,
				email.from_system sysName,
				'定时' way,
				email.para_to 'To',
				email.para_cc Cc,
				email.para_text Text,
				email.para_user User,
				DATE_FORMAT(email.from_time, '%Y-%m-%d %T') startTime,
				DATE_FORMAT(emaillog.end_time, '%Y-%m-%d %T') endTime,
				emaillog.retcode errCode,
				CASE
			WHEN emaillog.retcode IS NULL THEN
				'等待发送'
			ELSE
				emaillog.retmsg
			END msg
			FROM
				interface_email email
			LEFT JOIN interface_email_log emaillog ON email.sysid = emaillog.interface_email_id
			 where 1=1
			<if test="sysName!=null and sysName!=''">
			and email.from_system =#{sysName,jdbcType=VARCHAR} 
			</if>
			<if test="state!=null and state!=''">
				<if test='state=="待发送"'>
				and emaillog.retcode is null
				</if>
				<if test='state=="成功"'>
				and emaillog.retcode = 0
				</if>
				<if test='state=="失败"'>
				and emaillog.retcode ！= 0
				</if>
			</if>
			<if test="To!=null and To!=''">
			and email.para_to like CONCAT('%',#{To,jdbcType=VARCHAR},'%')
			</if>
			<if test="Cc!=null and Cc!=''">
			and email.para_cc like CONCAT('%',#{Cc,jdbcType=VARCHAR},'%')
			</if>
			<if test="Text!=null and Text!=''">
			and email.para_text like CONCAT('%',#{Text,jdbcType=VARCHAR},'%')
			</if>
			<if test="User!=null and User!=''">
			and email.para_user like CONCAT('%',#{User,jdbcType=VARCHAR},'%')
			</if>
			<!-- 	添加的时间-->
			<if test="addStartTime!= null and addStartTime!=''">
			and DATE_FORMAT(email.from_time, '%Y-%m-%d %T')&lt;DATE_FORMAT(#{addStartTime}, '%Y-%m-%d %T')
			</if>
			<if test="addEndTime!= null and addEndTime!=''">
			and DATE_FORMAT(email.from_time, '%Y-%m-%d %T')&gt;DATE_FORMAT(#{addEndTime}, '%Y-%m-%d %T')
			</if>
			<!-- 	执行时间 -->
			<if test="executeStartTime!= null and executeStartTime!=''">
			and DATE_FORMAT(emaillog.end_time, '%Y-%m-%d %T')&lt;DATE_FORMAT(#{executeStartTime}, '%Y-%m-%d %T')
			</if>
			<if test="executeEndTime!= null and executeEndTime!=''">
			and DATE_FORMAT(emaillog.end_time, '%Y-%m-%d %T')&gt;DATE_FORMAT(#{executeEndTime}, '%Y-%m-%d %T')
			</if>
			UNION
				SELECT
					log.log_id sysid,
					log.from_system sysName,
					'即时' way,
					log.interface_parameter 'To',
					'-'  Cc,
					'-'  text,
					'-'  User,
					DATE_FORMAT(log.invoking_time, '%Y-%m-%d %T') startTime,
					DATE_FORMAT(log.invoking_time, '%Y-%m-%d %T') endTime,
					log.invoking_state errCode,
					log.state_msg msg
				FROM
					`log_manage` log where log.interface_type ='邮件'
					
				<if test="sysName!=null and sysName!=''">
				and log.from_system =#{sysName,jdbcType=VARCHAR} 
				</if> 
				<if test="state!=null and state!=''">
					<if test='state=="成功"'>
					and log.invoking_state = 0
					</if>
					<if test='state=="失败"'>
					and log.invoking_state ！= 0
					</if>
				</if>
				<if test="To!=null and To!=''">
				and email.para_to like CONCAT('%"content":"%',#{To,jdbcType=VARCHAR},'%"%')
				</if>
				<if test="Cc!=null and Cc!=''">
				and email.para_cc like CONCAT('%"content":"%',#{Cc,jdbcType=VARCHAR},'%"%')
				</if>
				<if test="Text!=null and Text!=''">
				and email.para_text like CONCAT('%"content":"%',#{Text,jdbcType=VARCHAR},'%"%')
				</if>
				<if test="User!=null and User!=''">
				and email.para_user like CONCAT('%"content":"%',#{User,jdbcType=VARCHAR},'%"%')
				</if>
				<!-- 	添加的时间-->
				<if test="addStartTime!= null and addStartTime!=''">
				and DATE_FORMAT(log.invoking_time, '%Y-%m-%d %T')&gt;DATE_FORMAT(#{addStartTime}, '%Y-%m-%d %T')
				</if>
				<if test="addEndTime!= null and addEndTime!=''">
				and DATE_FORMAT(log.invoking_time, '%Y-%m-%d %T')&gt;DATE_FORMAT(#{addEndTime}, '%Y-%m-%d %T')
				</if>
				<!-- 	执行时间 -->
				<if test="executeStartTime!= null and executeStartTime!=''">
				and DATE_FORMAT(log.invoking_time, '%Y-%m-%d %T')&gt;DATE_FORMAT(#{executeStartTime}, '%Y-%m-%d %T')
				</if>
				<if test="executeEndTime!= null and executeEndTime!=''">
				and DATE_FORMAT(log.invoking_time, '%Y-%m-%d %T')&gt;DATE_FORMAT(#{executeEndTime}, '%Y-%m-%d %T')
				</if>
		) logQuery
	ORDER BY
		logQuery.endTime DESC
		
		


				
  </select>
  
  
  <select id="queryDetailsLog" parameterType="String" resultType="java.util.HashMap">
  	SELECT
			email.sysid sysid,
			email.from_system sysName,
			'定时' way,
			email.para_to recipient,
			email.para_cc Cc,
			email.para_text text,
			email.para_user userName,
			email.para_subject,
			email.para_filename,
			email.para_filepath,
			email.url,
			email.para_imgs,
			email.para_urls,
			DATE_FORMAT(email.from_time, '%Y-%m-%d %T') startTime,
			DATE_FORMAT(emaillog.end_time, '%Y-%m-%d %T') endTime,
			emaillog.retcode errCode,
			email.see_number seeNumber,
			email.para_model_code modelCode,
			email.from_system_id fromSysId,
			CASE
		WHEN emaillog.retcode IS NULL THEN
			'等待发送'
		ELSE
			emaillog.retmsg
		END msg
		FROM
			interface_email email
		LEFT JOIN interface_email_log emaillog ON email.sysid = emaillog.interface_email_id
	 WHERE  email.sysid= #{sysid,jdbcType=INTEGER} 
  </select>
</mapper>