<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<!-- 
    @author chen.kai
	mapper.xml 规范 ：
   1)namespace 等于mapper接口地址,也就是dao下面的java类，通过这个java类，可以访问类里定义的方法
   2)mapper.Java 接口中的方法和mapper.xml中的statement 的id一致
   3)mapper.java 接口中的方法的参数和mapper.xml中的statement 的paramterType类型一致
   4)mapper.java 接口中的方法的返回值和mapper.xml中的statement的resultType类型一致	
 --> 
<mapper namespace="com.cn.common.dao.InterfaceTimedTaskMapper"> 

  <!-- email的任务队列，因为to是关键字，这里加上''进行转义 -->
  <select id="findTimedTask"  resultType="java.util.HashMap">
    select sysid messageId,`see_number` seenumber,`from_user` fromuser,`from_system` fromsystem,`from_system_id` fromsystemid,`from_time` fromtime,`interface_url` interfaceurl,`parameters` body,`task_time` tasktime
    from interface_timed_task inter
    where not exists(
        select 1 
        from interface_task_log log
        where inter.sysid=log.message_id
        ) and <!-- task_time is null代表当前任务可以即扫即发 -->
        (task_time is null or now() between task_time and date_add(NOW(), interval 5 minute))
    order by sysid
  </select>

  <!-- 插入任务记录 -->
  <insert id="insert" parameterType="java.util.Map">
  insert into interface_timed_task
  (sysid,`see_number`,`from_user`,`from_system`,`from_system_id`,`from_time`,`interface_url`,`parameters`,`task_time`)
  values
  (#{messageId,jdbcType=CHAR},#{seenumber},#{fromuser},#{fromsystem},#{fromsystemid},now(),#{interfaceurl},#{body},#{tasktime})
  </insert>

</mapper>