<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<!-- 
    @author chen.kai
	mapper.xml 规范 ：
   1)namespace 等于mapper接口地址,也就是dao下面的java类，通过这个java类，可以访问类里定义的方法
   2)mapper.Java 接口中的方法和mapper.xml中的statement 的id一致
   3)mapper.java 接口中的方法的参数和mapper.xml中的statement 的paramterType类型一致
   4)mapper.java 接口中的方法的返回值和mapper.xml中的statement的resultType类型一致	
 --> 
<mapper namespace="com.cn.common.dao.InterfaceMobileMapper"> 

  <!-- email的任务队列，因为to是关键字，这里加上''进行转义 -->
  <select id="selectByParameterObject"  resultType="java.util.HashMap">
    select sysid,url,para_context context,para_phone phone,para_model_code modelcode
    from interface_mobile inter
    where not exists(
        select 1 
        from interface_mobile_log log
        where inter.sysid=log.interface_mobile_id
        )
    order by sysid
  </select>


  <insert id="insert" parameterType="java.util.Map">
  insert into interface_mobile_log(interface_mobile_id,message_id,retcode,retmsg,end_time)
  values(#{sysid},#{messageid ,jdbcType=CHAR},#{retcode},#{retmsg},now())
  </insert>

<!-- 插入异步任务 -->
  <insert id="insertInterfaceMobile" parameterType="java.util.Map">
  insert into interface_mobile
  (see_number,from_user,from_system,from_system_id,from_time,url,para_phone,para_context,para_model_code)
  values
  (#{seenumber,jdbcType=CHAR},#{fromuser},#{fromsystem},#{fromsystemid},#{fromtime},#{url},#{phone},#{context},#{modelcode})
  </insert>



</mapper>